# dependencies
/node_modules
/frontend/node_modules
/backend/node_modules

/.pnp
.pnp.js

# testing
/coverage

# production
/build



# environment files
.env
.env.*
/frontend/.env
/frontend/.env.*
/backend/.env
/backend/.env.*

